.comics {
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .btn-series {
        background-color: #0282f9;
        border: none;
        color: #fff;
        padding: 10px 25px;
        position: absolute;
        top: -20px;
        left: -10px;
    }
}
.btn-load {
    background-color: #0282f9;
    border: none;
    color: white;
    margin: auto;
    padding: 15px 50px;
}
.my-bg {
    background-color: #1c1c1c;
}
.comic {
    width: calc(100% / 6);
    margin-bottom: 25px;
    img {
        height: 150px;
        object-fit: cover;
        object-position: top;
        width: 70%;
    }
    h5 {
        color: fff;
        width: 185px;
    }
}
